<h1>Ejemplos Webpay</h1>
<table border="0" style="margin-top:50px;" class="table">
    <tr>
        <td><h3>Webpay Plus</h3></td>
        <td><h3>@Html.ActionLink("Crear Transacción", "NormalCreate", "WebpayPlus")</h3></td>
        <td><h3>@Html.ActionLink("Reembolso", "NormalRefund", "WebpayPlus")</h3></td>
        <td><h3>@Html.ActionLink("Estado", "NormalStatus", "WebpayPlus")</h3></td>
    </tr>
    <tr>
        <td><h3>Transacción Mall Normal</h3></td>
        <td><h3><a href="tbk-mall-normal.aspx">Webpay Mall Normal</a></h3></td>
        <td><h3><a href="tbk-nullify-mall-normal.aspx">Webpay Mall Normal Anulación </a></h3></td>
        <td><h3> - </h3></td>
    </tr>
    <tr>
        <td><h3>Transacción Completa</h3></td>
        <td><h3><a href="tbk-complete.aspx">Webpay Completa</a></h3></td>
        <td><h3><a href="tbk-nullify-complete.aspx">Webpay Completa Anulación </a></h3></td>
        <td><h3> - </h3></td>
    </tr>
    <tr>
        <td><h3>Transacción Captura Diferida</h3></td>
        <td><h3><a href="tbk-normal-capture.aspx">Webpay Captura Diferida</a></h3></td>
        <td><h3><a href="tbk-capture.aspx">Webpay Captura Diferida</a></h3></td>
        <td><h3> - </h3></td>
    </tr>
    <tr>
        <td><h3>Transacción OneClick</h3></td>
        <td><h3><a href="tbk-oneclick.aspx">Webpay OneClick</a></h3></td>
        <td><h3> - </h3></td>
        <td><h3> - </h3></td>
    </tr>
</table>