<h1>Ejemplos Webpay</h1>
<table border="0" style="margin-top:50px;" class="table">
    <tr>
        <td><h4>Webpay Plus</h4></td>
        <td><h4>@Html.ActionLink("Crear Transacción", "NormalCreate", "WebpayPlus")</h4></td>
        <td><h4>@Html.ActionLink("Reembolso", "NormalRefund", "WebpayPlus")</h4></td>
        <td><h4>@Html.ActionLink("Estado", "NormalStatus", "WebpayPlus")</h4></td>
    </tr>
    <tr>
        <td><h4>Transacción Mall Normal</h4></td>
        <td><h4><a href="tbk-mall-normal.aspx">Webpay Mall Normal</a></h4></td>
        <td><h4><a href="tbk-nullify-mall-normal.aspx">Webpay Mall Normal Anulación </a></h4></td>
        <td><h4> - </h4></td>
    </tr>
    <tr>
        <td><h4>Transacción Completa</h4></td>
        <td><h4><a href="tbk-complete.aspx">Webpay Completa</a></h4></td>
        <td><h4><a href="tbk-nullify-complete.aspx">Webpay Completa Anulación </a></h4></td>
        <td><h4> - </h4></td>
    </tr>
    <tr>
        <td><h4>Transacción Captura Diferida</h4></td>
        <td><h4><a href="tbk-normal-capture.aspx">Webpay Captura Diferida</a></h4></td>
        <td><h4><a href="tbk-capture.aspx">Webpay Captura Diferida</a></h4></td>
        <td><h4> - </h4></td>
    </tr>
</table>

<table border="0" style="margin-top:50px;" class="table">
    <tr>
        <td><h4>Transacción Oneclick Mall</h4></td>
        <td><h4>@Html.ActionLink("Iniciar Inscripción", "InscriptionStart", "Oneclick")</h4></td>
        <td><h4>Autorizar Pago </h4></td>
        <td><h4>Reembolso</h4></td>
        <td><h4>Estado de Pago</h4></td>
        <td><h4>Eliminar Usuario</h4></td>
    </tr>
</table>