@{
    ViewBag.Title = "Webpay Oneclick Mall";
}

<h2>@ViewBag.Title</h2>
<h4>Inscription.Finish</h4>

<h4>Request:</h4>
<pre style="background-color: lightyellow;">
POST: https://webpay3gint.transbank.cl/rswebpaytransaction/api/oneclick/v1.0/inscriptions/{token}
<code class="json">
    {
        "token": "@ViewBag.Token"
    }
</code>
</pre>

<h4>Response:</h4>
<pre>
<code>
@ViewBag.Result
</code>
</pre>

<form name="deleteForm" method="post" action="/Oneclick/InscriptionDelete">
    <input type="hidden" name="TbkUser" id="TbkUser" value="@ViewBag.TbkUser" />
</form>

<a href="/Oneclick/PaymentAuthorize" class="btn btn-primary">Authorizar Pago</a>
<a href="javascript: document.deleteForm.submit();" class="btn btn-primary">Eliminar Inscripción</a>
<a href="/" class="btn btn-primary">Volver al Home</a>

